# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Maybe Mac thing
*.DS_Store

#Don't include this
Hardware/ThorPCB.zip

Hardware/production/backups/

# Exclude the LaTeX junk files
Report/*.aux
Report/*.fdb_latexmk
Report/*.fls
Report/*.log
Report/*.out
Report/*.synctex.gz
Report/*.toc
